
<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title> Protected Page</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="/styles.css">

	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>


	<link rel="icon" href="data:;base64,=">
</head>

<body>
	<div> Want to log out </div>
	<button type='submit' class='button' action='/user/home'>
		Log Out
	</button>
</body>

</html>