
<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>The HTML5 Herald</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="/styles.css">

	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>


	<link rel="icon" href="data:;base64,=">
</head>

<body>
	<div class="header">
		<h1> Welcome to Calendar</h1>
		<p> This is made by Lucy, except for most of the css. <br>
			Works Cited: Adria https://codepen.io/afontcu/pen/bapBxv
		</p>
		<button type="submit"><a href="https://codepen.io/afontcu/pen/bapBxv">Their website</a></button>
		<br>
		<br>
		<br>
	</div>

	<div class="toolbar">
      <div class="toggle">
      	<form method="GET" action='/user/register'>
			<button type='submit'> Register </button>
		</form><form method="GET" action='/user/login'>
			<button type='submit'> Log In </button>
      	</form>
      </div>
      <div class="current-month">Welcome to Calendar</div>
    </div>
</body>
</html>