<!doctype html>

<html lang="en">
<head>
  	<meta charset="utf-8">

  	<title>The HTML5 Herald</title>
  	<meta name="description" content="The HTML5 Herald">
  	<meta name="author" content="SitePoint">

  	<link rel="stylesheet" href="/styles.css">

	<link href="https://fonts.googleapis.com/comss?family=Shadows+Into+Light+Two" rel="stylesheet">
</head>

<body>
	<h2> Log In</h2>

	<form method="POST" action="/user/login">
		<input type="text" name="username" placeholder="Username">
		<input type="text" name="password" placeholder="Password">
		<button type="submit" class="button">
			Log in
		</button>
	</form>

</body>
</html>

